html{
    background-color:#253942;
}
h1{
    color:white;
    font-family: 'Anton';
    font-weight: lighter;
    padding:20px;
    font-size:400%;
    margin:auto;
    font-style: italic;
}
h2{
    color:#1A2529;
    font-weight:lighter;
    margin:0;
}
h3{
    font-family: 'Familjen Grotesk';
    font-weight: lighter;
    color: #1A2529;
    font-size:x-large;
}
#Logo{
    width:6em;
    position: absolute;
    top:20px;
    right:20px;
}
.tool-header{
    font-family:'Barlow';
    padding-left: 10px;
    background-color: rgb(165, 165, 165);
    box-shadow:-3px 3px rgba(0, 0, 0, 0.2);
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1A2529;
}
  
.navbar > li {
    float: left;
}
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Anton';
    font-size:x-large;
    font-style: italic;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #71b2ca;
}
.container{
    align-items: center;
}
.wrapper{
    display: grid;
    padding:10px;
    gap:10px;
}

#Duplicate-Customers{
    grid-column: 1;
    grid-row: 1;
}
#Non-Native-GiftCards{
    grid-column: 2;
    grid-row: 1;
}
#FA-Split{
    grid-column: 3;
    grid-row: 1;
}
.tool{
    background-color:#71b2ca;
    box-shadow: -5px 5px rgba(0, 0, 0, 0.5);
    padding:10px;
}
section{
    display: grid;
    padding:20px;
    text-align: center;
}
.sectionLeft{
    grid-column:1;
    border-right:3px solid #5f96aa;
    width:auto;
}
.sectionRight{
    grid-column:2;
    text-align:center;
}

.Patch-Notes{
    font-family: 'Familjen Grotesk';
    padding:5px;
    margin:auto;
    width:50%;
    background-color: rgb(255, 244, 147);
    box-shadow:-3px 3px rgb(179, 171, 102);
}
.Patch-Notes > h3{
    text-align: center;
}

#input-grid{
    font-family: 'Familjen Grotesk';
    display: grid;
    margin:20px;
}

.input-box{
    background-color: #71b2ca;
    width:16em;
    height:16em;
    box-shadow: -5px 5px black;
    margin:auto;
    padding:20px;
    text-align: center;
    position: relative;
}
.input-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#customers-input{
    grid-column:1
}
#sales-input{
    grid-column: 2;
}
#reservations-input{
    grid-column: 3;
}

py-config{
    display:none
}